$page-width: 800px;
$bg-color: #FFF9E7;
$header-height: 100px;
$footer-height: 100px;

body {
  background-color: $bg-color;
  margin: $header-height 0 $footer-height 0;
  font-size: 24px;
}

@mixin vollkorn {
  font-family: 'Vollkorn', serif;
}

@mixin center-horiz($width) {
  width: $width;
  margin: 0 auto;
}

h1 {
  @include vollkorn;
}

.header, .footer {
  width: 100%;
  position: fixed;
  text-align: center;
}

.header {
  height: $header-height;
  line-height: $header-height;
  border-bottom: 2px solid darken($bg-color, 50%);
  top: 0;

  h1 {
    @include center-horiz($page-width);
  }
}

.footer {
  height: $footer-height;
  line-height: $footer-height;
  bottom: 0;
  border-top: 2px solid darken($bg-color, 50%);
}

.container {
  text-align: center;
  @include center-horiz($page-width);
  border: 1px solid black;
  margin: 0 auto;
}
