<h2>Computed Properties</h2>

<p>
{{input value=firstName placeholder="Enter your first name"}}
{{input value=lastName placeholder="Enter your last name"}}
</p>

{{#if name}}
<p>
  Your full name is: {{name}}
</p>
{{/if}}
