<h2>Computed Property Setters</h2>

{{#if fullName}}
<p>
  Full name: {{input value=fullName}}
</p>
{{/if}}

<p>
  {{input value=firstName placeholder="First name"}}
  <br>
  {{input value=lastName placeholder="Last name"}}
</p>
