<h2>Query Params</h2>

<p>
  {{input value=page placeholder="Page Number"}}<br>
  {{input value=count placeholder="Result count"}}<br>
</p>

<p>
  Page Number: {{page}}.<br>
  Showing {{count}} results.
</p>
