<h2>Routing Examples</h2>


<h3>Error Routes:</h3>
<p>
Don't {{#link-to 'bad'}}click this link{{/link-to}}.
</p>

<h3>Loading routes</h3>

<p>
Here is a {{#link-to 'slow'}}slow route{{/link-to}}.
</p>
